{% extends 'layout.html.twig' %}

{% block body %}
    <h1 class="centered">DODAJ BARBERA</h1>
    <hr/>
    <br/>

    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
{% endblock body %}
